<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Tution Fees Manager</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
	<!-- The header -->
	<nav  class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">Tution Fees Manager</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="#addStudentForm">Add student</a>
					</li>
					<li class="nav-item">
						<a class="nav-link disabled" aria-current="page" href="#recentTransaction">Recent transactions</a>
					</li>
				</ul>
				<form class="d-flex" role="search">
					<input class="form-control me-2" type="search" placeholder="Search student" aria-label="Search">
					<button class="btn btn-outline-success disabled" type="submit">Search</button>
				</form>
			</div>
		</div>
	</nav>
	<!--  -->

	<!-- Displaying the students -->
	<div class="container-fluid" style="padding: 10px" id="studentListContainer">
		<% if (data.length == 0) { %>
		<p> There are no students added, add a new student using the form below.</p>
		<% } else { %>
		<center>
			<% for (let i = 0; i < data.length; i++) { %>
			<div class="card" style="width: 95%; padding: 0px; margin-bottom: 10px;">
				<div class="card-body">
					<h5 class="card-title"><%= data[i].name %></h5>
					<p class="card-text">Class <%= data[i].class %>, <%= data[i].board %> </p>
					<a href="/student/?id=<%= data[i].id %>" class="btn btn-primary">View</a>
				</div>
			</div>
			<% } %>
		</center>
		<% } %>
	</div>
	<!--  -->

	<!-- Add student form -->
	<div class="container-fluid" style="border: 0.5px solid lightgray; border-radius: 5px; padding: 10px; margin: 2.5%; width: 95%;">
		<form>
			<h5>Add a new student</h5>
			<hr>
			<div class="mb-3">
				<label for="addStudentFormName" class="form-label">Student's name</label>
				<input type="email" class="form-control" id="addStudentFormName" aria-describedby="addStudentFormName" placeholder="Enter student's name">
			</div>
			<div class="mb-3">
				<label for="addStudentFormClass" class="form-label">Class</label>
				<input type="number" class="form-control" id="addStudentFormClass" step="1" value="5" max="12" min="-3">
			</div>
			<div class="mb-3">
				<label for="addStudentFormBoard" class="form-label">Board</label>
				<select class="form-select form-select-sm" aria-label="Student's Board" id="addStudentFormBoard">
					<option selected value="1">CBSE</option>
					<option value="2">ICSE</option>
					<option value="3">JAC</option>
					<option value="3">OTHER</option>
				</select>
			</div>
			<a class="btn btn-success" id="addStudentFormBtn">Add student</a>
		</form>
	</div>
	<!--  -->

	<!-- Scripts requried for boostrap -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
	<!--  -->
</body>

<script type="text/javascript">
	// The required vanillaJS
	//
	document.getElementById("addStudentFormBtn").addEventListener("click", () => {
		// Fetching the form data
		const student_name = document.getElementById("addStudentFormName").value;
		const student_class = document.getElementById("addStudentFormClass").value;
		const student_board = document.getElementById("addStudentFormBoard").value;

		// Sending the POST HTTP request to the server
		fetch("/add", {
			method: "POST",
			body: JSON.stringify({
				task: "student", student_name: student_name, student_class: student_class, student_board: student_board,
			}),
			headers: {"Content-type": "application/json; charset=UTF-8"},
		}).then(response => {
			alert("New student added!");
			window.location.reload(); // Reloading the current page
		}).catch(error => {
			// If there occurs an error
			console.log(error);
		});
	});
</script>

</html>